* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --Cyan: hsl(185, 75%, 39%);
    --Dark-Blue: hsl(229, 23%, 23%);
    --Gray-Blue: hsl(227, 10%, 46%);
    --Dark-Gray: hsl(0, 0%, 59%);
  }

  body {
      font-family: "Kumbh Sans", sans-serif;
      font-size: 18px;
  }

  span, p {
      font-weight: 400;
      color:var(--Dark-Gray);
  }



  .background-page {
      background-color: var(--Cyan);
      background-image: url('/img/bg-pattern-top.svg'), url('/img/bg-pattern-bottom.svg');
      background-repeat: no-repeat;
      background-position: right 19vw bottom 42vh, left 10vw top 50vh;
      height: 100vh;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center; 
  }

  .profile-card {
    width: 350px;
    border-radius: 16px;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  }

  .card-header{
      height: 140px;
      background:no-repeat url('/img/bg-pattern-card.svg');
      border-radius: 16px 16px 0 0;
  }

  .card {
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 30px;
  }

  img {
      border: 10px solid white;
      border-radius: 50%;
      margin-top: -50px;
  }

  .profile-name {
      margin-top: 25px;
  }

  .profile-name  span {
      margin-left: 10px;
  }

  .profile-name  strong {
    margin-left: 25px;
    font-weight: 700;
}


  .profile-name  p {
    margin-top:-33px;
    margin-bottom: -35px;
    padding: 54px;
}

.profile-bottom {
    border-top:1px solid var(--Dark-Gray);
    padding: 30px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.stats {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-between;
}

.stats  h3 {
  padding: 28px;
  margin-top:-22px;
  margin-bottom:-22px;
   
}

.stats  p {
  margin-bottom:-25px;
   
}

.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media (min-width:1200px) and (max-width:1440px) {
    .background-page {
        background-position: right 49vw bottom 32vh, left 50vw top 50vh;
        
    }
}